/* Google font - Roboto that we imported */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* The gray background layer of our website */
body {
    background-color: var(--base-color);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 25px;
    padding-right: 25px;
}

/* The light gray background layer behind our actual calendar layer */
.container {
    min-height: 695px;
    width: 1200px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
}

/* Determines the width of the calendar layer, makes it 60% width of our light gray container layer */
.left {
    padding: 20px;
    width: 60%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}

/* The square container for our calendar */
.Calendar {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
    color: var(--secondary-text-color);
    background-color: var(--base-color);
    display: flex; 
    flex-direction:  column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* The styling for the Month/Year that is listed at the top of our calendar */
.Calendar .Month {
    height: 75px;
    width: 100%;
    padding: 0 50 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
}

/* Converts our arrow symbols, that will allow us to go to the previous/next month, into pointers */
.Calendar .Month .material-symbols-outlined {
    cursor: pointer;
}
.Calendar .Month .material-symbols-outlined:hover {
    color: var(--primary-clr);
}

/* The styling for the Weekday names that is listed at the top of our calendar below the Month */
.Calendar .Weekdays {
    height: 50px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-weight: 375;
    font-size: 1rem;
}
.Calendar .Weekdays div {
    height: 100%;
    width: 14.28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The container/matrix that contains all the numerical dates in our month */
.Calendar .Days {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-weight: 425;
    font-size: 1rem;
}

/* The styling for each individual date container within our month (that does not belong to the previous/next month) */
.Calendar .Days .Day {
    width: 14.28%;
    height: 90px;
    color: var(--calendar-text-color);
    border: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Makes it so that individual date, that is part of the current month, changes color when our mouse hovers over the date square */
.Calendar .Day:not(.Day-Month-Prev, .Day-Month-Next):hover {
    background-color: var(--secondary-color);
}

/* The styling for each individual date container from the previous month */
.Calendar .Days .Day-Month-Prev {
    width: 14.28%;
    height: 90px;
    color: lightgrey;
    border: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* The styling for each individual date container from the next month */
.Calendar .Days .Day-Month-Next {
    width: 14.28%;
    height: 90px;
    color: lightgrey;
    border: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* The styling for current date (and current date if it has an event), background color changes and is more bold */
.Calendar .Days .Day-Today, .Day-Event-Active {
    width: 14.28%;
    height: 90px;
    position: relative;
    font-weight: 425;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Calendar .Days .Day-Today::before, .Day-::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}

/* The styling for dates we designate to have an event */
.Calendar .Days .Day-Event {
    width: 14.28%;
    height: 90px;
    color: palevioletred;
    background-color: white;
    border: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
/* Adds an underline to days designated with an event */
.Calendar .Days .Day-Event::after {
    width: 75%;
    height: 6px;
    bottom: 10%;
    left: 50%;
    content: "";
    position: absolute;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: palevioletred;
}

/* Adds an underline to current date if it is designated with an event */
.Calendar .Days .Day-Event-Active::after {
    width: 75%;
    height: 6px;
    bottom: 10%;
    left: 50%;
    content: "";
    position: absolute;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: palevioletred;

}

/* Changes the background color for an event date when we hover over it */
.Calendar .Days .Day-Event:hover {
    color: var(--base-color);
}
/* Changes the background color for an event date underline when we hover over it */
.Calendar .Days .Day-Event:hover::after {
    color: var(--base-color);
    background-color: var(--base-color);
}

/* Styling for the container where the go and today buttons are located */
.Calendar .Go-To-Today {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.Calendar .Days .active {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid rgb(223, 220, 220);
    font-size: 1.5rem;             
    font-weight: 425;
    position: relative;
}

.Calendar .Days .Day.active,
.Calendar .Days .Day-Event.active,
.Calendar .Days .Day-Today.active {
    background-color: palevioletred !important; 
    color: white !important;
    border: 1px solid rgb(223, 220, 220);
    font-size: 1.5rem;
    font-weight: 425;
    position: relative;
}

.Calendar .Days .Day-Event.active::after {
    background-color: palevioletred;
}

/* Styling for the area where the go button and the date input area are located */
.Calendar .Go-To-Today .Go-To {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    overflow: hidden;
}

/* Styling for the date input area */
.Calendar .Go-To-Today .Go-To input {
    width: 60%;
    height: 25px;
    padding: 0px;
    outline: none;
    border-radius: 10px;
    color: rgb(61, 61, 61);
}

/* Styling for the go button */
.Calendar .Go-To-Today .Go-To button {
    padding: 3px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    color: var(--primary-clr);
}

/* Styling for the today button */
.Calendar .Go-To-Today .Today-Button button {
    padding: 3px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    color: var(--primary-clr);
}

/* Changes color for the go and today button when we hover over them */
.Calendar .Go-To-Today button:hover {
    color: var(--text-color);
    background-color:var(--tertiary-color);
}

.card {
    width: 90%;
    max-width: 470px;
    background: var(--tertiary-color);;
    color: var(--base-color);
    margin: 20px 20px auto 10px;
    border-radius: 20px;
    padding: 40px 40px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: var(--base-color);
    color: var(--secondary-text-color);
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: var(--base-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    color: var(--text-color);
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    color: var(--text-color);
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    color: var(--text-color);
}

.feels-like {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.2em;
    color: var(--text-color);
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}


.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#stopwatchcontainer {
    width: 90%;
    max-width: 470px;
    background: var(--tertiary-color);;
    color: var(--base-color);
    margin: 20px 20px auto 10px;
    border-radius: 20px;
    padding: 40px 40px;
    text-align: center;
}

#stopwatchdisplay {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    color: var(--secondary-text-color);
    margin-bottom: 25px;
    background-color: var(--base-color);
    border-radius: 25px;
}

#stopwatchcontrols button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: hsl(115, 100%, 40%);
}

#startBtn:hover {
    background-color: hsl(115, 100%, 30%);
}

#stopBtn {
    background-color: hsl(10, 90%, 50%);
}

#stopBtn:hover {
    background-color: hsl(10, 90%, 40%);
}

#resetBtn {
    background-color: hsl(205, 90%, 60%);
}

#resetBtn:hover {
    background-color: hsl(205, 90%, 50%);
}

.container .right-events {
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
    position: relative;
}

.right-events .today-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px 0 0;
    gap: 10px;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.today-date .event-day {
    font-size: 1.15rem;
    font-weight: 1000;
    color: white;
}

.today-date .event-date {
    font-size: 1.15rem;
    font-weight: 1000;
    color: white;
}

.events {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between events */
    padding: 10px 20px;
}

.events .event {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event .title{
    pointer-events: none;
    display: flex;
    align-items:center;
}

.events .event .title .event-title {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.events .event .title i {
    font-size: 0.5rem;
    color: var(--primary-clr);
}

.events .event:hover .event-time,
.events .event:hover .title i {
    color: white;
}

.events .event .event-time {
    margin-left: 15px;
    pointer-events: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}

.events .event::after {
    top: 50%;
    right: 0;
    position: absolute;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(-50%);
    content: "X";
    opacity: 0.3;
    color: var(--primary-clr);
}

.event:hover::after {
    display: flex;
}

.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    transform: translateX(-50%);
    transition: max-height 0.5s;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.add-event-wrapper.active{
    max-height: 500px;
}

.add-event-header {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: flex;
    height: 50px;
    width: 100%;
    color: black;
    border-bottom: 1px solid white;
}

.add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
}

.add-event-header .closer:hover {
    color: black;
}

.add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.add-event-body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

.add-event-body .add-event-input{
    height: 40px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-event-body .add-event-input input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid white;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.add-event-body .add-event-input input::placeholder {
    color: lightgrey;
}

.add-event-body .add-event-input input:focus {
    border-color: var(--primary-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
}

.add-event-footer {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.add-event-btn {
    position: relative;                  
    margin-top: 20px;
    width: 100%;                       
    height: 40px;
    font-size: 14px;                    
    border-radius: 6px;                 
    background-color: #9c27b0;          
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.add-event-btn:hover {
    background-color: #ab47bc;           
}

.add-event {
    display: flex; 
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-clr);
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}

.no-event {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}