/* Google font - Roboto that we imported */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* The light gray background layer behind our kanban board */
.container {
    min-height: 695px;
    width: 1200px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    color: black;
    background-color:#07aecb;
    display: flex;
}

.kanban {
    display: flex;
    padding: 30px;
    width: 750px;
    background: #07aecb;
    border-radius: 5px;
}

.kanban * {
    font-family: 'Roboto', sans-serif;
}

.kanban__column {
    flex: 1;
}

.kanban__column > .kanban__column-title {
    font-weight: bold;
}

.kanban__column:not(:last-child) {
    margin-right: 30px;
}

.kanban__column-title {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: none;
}

.kanban__item-input {
    padding: 10px 15px;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.kanban__dropzone {
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 20px;
    background: rbga(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navigate-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 93px;
}

.navigate-button:hover {
    background-color: #046b86;
}

.kanban__item-input:focus {
    outline: 2px solid black; /* Custom color for outline */
    box-shadow: 0 0 5px rgba(7, 174, 203, 0.5); /* Optional shadow for a soft effect */
}